body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color:lightgoldenrodyellow;
}

h1 {
    text-align: center;
}

h2 {
    display: inline-block;
}

.container {
    padding: 1.2rem;
    margin: auto;
}
.card-border {
    background-color: gold;
    border-radius: 1rem;
    text-align: center;
    margin: auto;
    padding: 0.8rem;
    box-shadow: 0.2rem 0.2rem 0.5rem gray;
}

.card {
    background-color: whitesmoke;
    color: darkslategray;
    width: 12rem;
    height: 16rem;
    padding-top: 0.2rem;
}

.card-title {
    font-size: 80%;
    text-transform: capitalize;
    text-align: left;
    padding-left: 1.2rem;
}

.card-subtitle {
    margin-top: -0.5rem;
    margin-bottom: 0;
    font-size: 80%;
    opacity: 0.9;
    text-align: left;
    padding-left: 1.3rem;
    padding-bottom: 1rem;
}

.image-background {
    background-color: lightgrey;
    height: 7rem;
    width: 9rem;
    margin: 1rem;
    padding:0.5rem;
}

.card-image {
    object-fit: contain;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-border:hover {
    animation: bounce 0.7s linear; 
}

.card-border:active .card-image {
    transform: rotateY(180deg) translateX(-2.8rem);
}

.image-front,
.image-back {
    position: absolute;
    transform: translateX(-3em);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.image-back {
    transform: rotateY(180deg);
}

@keyframes bounce {
    20% {
        transform: translateY(-0.5rem);
        box-shadow: 0.2rem 0.5rem 0.5rem gray;
    }
    40% {
        transform: translateY(0rem);
        box-shadow: 0.2rem 0.2rem 0.5rem gray;
    }
    55% {
        transform: translateY(-0.3rem);
        box-shadow: 0.2rem 0.35rem 0.5rem gray;
    }
    65% {
        transform: translateY(0rem);
        box-shadow: 0.2rem 0.2rem 0.5rem gray;
    }
}

#poke-id {
    font-size: 85%;
}

#pokedex {
    list-style: none;
    padding-inline-start: 0;
    /* using css grid to create columns that are responsive */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem /*min width*/, 1fr /*fractional measurement*/));
    grid-gap: 1rem;
}